@model List<iTunes_Search.Models.Tracking>

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Searched Query</th>
                    <th>Column Clicked</th>
                    <th>Value</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                    <tr>
                        <td>@result.Search</td>
                        <td>@result.Type</td>
                        <td>@result.Name</td>
                        <td>@result.Clicks</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}